global
  log 127.0.0.1 local0
  chroot  /var/lib/haproxy
  daemon
  group  haproxy
  maxconn  4000
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  4000
  option  redispatch
  retries  3
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s

listen dashboard_cluster_http 
  bind %HA_IP%:8080
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server Controller1 %HOST_IP_A%:80 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:80 check inter 2000 rise 2 fall 5

# listen dashboard_cluster
#   bind %HA_IP%:443
#   balance  source
#   option  tcpka
#   option  httpchk
#   option  tcplog
#   server Controller1 %HOST_IP_A%:443 check inter 2000 rise 2 fall 5
#   server Controller2 %HOST_IP_B%:443 check inter 2000 rise 2 fall 5


listen galera_cluster
  bind %HA_IP%:3306
  balance  source
  option  tcpka
  option  mysql-check user haproxy_check
  server Controller1 %HOST_IP_A%:3306 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:3306 backup check inter 2000 rise 2 fall 5

listen keystone_admin_cluster
  bind %HA_IP%:35357
  balance  roundrobin
  option  tcpka
  option  httpchk
  option  tcplog
  server Controller1 %HOST_IP_A%:35357 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:35357 check inter 2000 rise 2 fall 5

listen keystone_public_internal_cluster
  bind %HA_IP%:5000
  balance  roundrobin
  option  tcpka
  option  httpchk
  option  tcplog
  server Controller1 %HOST_IP_A%:5000 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:5000 check inter 2000 rise 2 fall 5

listen glance_api_cluster
  bind %HA_IP%:9292
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server Controller1 %HOST_IP_A%:9292 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:9292 check inter 2000 rise 2 fall 5

listen glance_registry_cluster
  bind %HA_IP%:9191
  balance  source
  option  tcpka
  option  tcplog
  server Controller1 %HOST_IP_A%:9191 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:9191 check inter 2000 rise 2 fall 5

listen nova_compute_api_cluster
  bind %HA_IP%:8774
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server Controller1 %HOST_IP_A%:8774 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:8774 check inter 2000 rise 2 fall 5

listen nova_metadata_api_cluster
  bind %HA_IP%:8775
  balance  source
  option  tcpka
  option  tcplog
  server Controller1 %HOST_IP_A%:8775 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:8775 check inter 2000 rise 2 fall 5

listen nova_vncproxy_cluster
  bind %HA_IP%:6080
  balance  source
  option  tcpka
  option  tcplog
  server Controller1 %HOST_IP_A%:6080 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:6080 check inter 2000 rise 2 fall 5

listen neutron_api_cluster
  bind %HA_IP%:9696
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server Controller1 %HOST_IP_A%:9696 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:9696 check inter 2000 rise 2 fall 5

listen cinder_api_cluster
  bind %HA_IP%:8776
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  server Controller1 %HOST_IP_A%:8776 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:8776 check inter 2000 rise 2 fall 5

listen memcache_cluster
  bind %HA_IP%:11211
  balance  source
  option  tcpka
  option  tcplog
  server Controller1 %HOST_IP_A%:11211 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:11211 check inter 2000 rise 2 fall 5

listen rabbitmq_cluster
  bind %HA_IP%:5672
  balance  source
  option  tcpka
  option  tcplog
  server Controller1 %HOST_IP_A%:5672 check inter 2000 rise 2 fall 5
  server Controller2 %HOST_IP_B%:5672 check inter 2000 rise 2 fall 5


#listen ceilometer_api_cluster
#  bind %HA_IP%:8777
#  balance  source
#  option  tcpka
#  option  tcplog
#  server Controller1 %HOST_IP_A%:8777 check inter 2000 rise 2 fall 5
#  server Controller2 %HOST_IP_B%:8777 check inter 2000 rise 2 fall 5

# listen heat_cluster_8004
#   bind %HA_IP%:8004
#   balance  source
#   option  tcplog
#   server Controller1 %HOST_IP_A%:8004 check inter 2000 rise 2 fall 5
#   server Controller2 %HOST_IP_B%:8004 check inter 2000 rise 2 fall 5

# listen heat_cluster_8000
#   bind %HA_IP%:8000
#   balance  source
#   option  tcplog
#   server Controller1 %HOST_IP_A%:8000 check inter 2000 rise 2 fall 5
#   server Controller2 %HOST_IP_B%:8000 check inter 2000 rise 2 fall 5

# listen murano_cluster
#   bind %HA_IP%:8082
#   balance  source
#   option  tcplog
#   server Controller1 %HOST_IP_A%:8082 check inter 2000 rise 2 fall 5
#   server Controller2 %HOST_IP_B%:8082 check inter 2000 rise 2 fall 5

# listen magnum_cluster
#   bind %HA_IP%:9511
#   balance  source
#   option  tcplog
#   server Controller1 %HOST_IP_A%:9511 check inter 2000 rise 2 fall 5
#   server Controller2 %HOST_IP_B%:9511 check inter 2000 rise 2 fall 5

# listen trove_cluster
#   bind %HA_IP%:8779
#   balance  source
#   option  tcplog
#   server Controller1 %HOST_IP_A%:8779 check inter 2000 rise 2 fall 5
#   server Controller2 %HOST_IP_B%:8779 check inter 2000 rise 2 fall 5


####### Enable Web GUI ############
listen stats 
    bind %HA_IP%:%WEB_PORT%
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth %WEB_ACCOUNT%
    stats refresh 10s